@charset "UTF-8";

@media screen and (min-width: 600px) {

    header > label {
        display: none;
    }

    nav {
        display: block;
        position: relative;
        top: auto;
        height: auto;
        width: auto;
        border-top: 0;
        

    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        border-bottom: 0;
    }
    
}