@charset "UTF-8";

@media screen and (min-width: 420px) and (max-width: 599px) {
    .card {
        width: 49%;
    }

}

@media screen and (min-width: 600px) {

    header > label {
        display: none;
    }

    nav {
        display: block;
        position: relative;
        top: auto;
        height: auto;
        width: auto;
        padding: 5px;
        border-top: 0;
        

    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        border-bottom: 0;
    }

    .artigos {
        width: 70%;
    }
    
    .art_imgs {
        max-width: 380px;
    }

    .cards {
        width: 30%;
    }
    
    .art_imgs {
        width: 50%;
        margin-right: 5px;
    }
}
